.main-color {
    color: $main-color;
}

.word-color {
    color: $word-color;
}

.navbar-color {
    color: $navbar-color;
}

.df-ft-fm {
    font-family: $default-font-style;
}

.header {
    height: $header-sm-height;

    @include lg-width {
        height: $header-lg-height;
    }
}

.logo {
    height: 30px;

    @include lg-width {
        height: 45px;
    }
}

.logo-word {
    color: $main-color;
    font-family: $default-font-style;
    font-size: 18px;
    line-height: 20px;

    @include lg-width {
        font-size: 20px;
        line-height: 30px;
    }
}

.navbar-box {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include lg-width {
        width: 100px;
    }
}

.hover-main-color {
    &:hover {
        color: $main-color;
    }
}

.banner {
    background-image: url('../img/banner.jpeg');
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;

    @include lg-width {
        height: 400px;
    }
}