.main-bg-color {
    background-color: $main-color;
}

.main-color {
    color: $main-color;
    fill: $main-color;
}

.word-color {
    color: $word-color;
    fill: $word-color;
}

.navbar-color {
    color: $navbar-color;
}

.df-ft-fm {
    font-family: $default-font-style;
}

.header {
    height: $header-sm-height;

    @include lg-width {
        height: $header-lg-height;
    }
}

.btn {
    @include button;
}

.input {
    outline: none;
    padding: 4px 8px;
}

.logo {
    height: 30px;

    @include lg-width {
        height: 45px;
    }
}

.logo-word {
    color: $main-color;
    font-family: $default-font-style;
    font-size: 18px;
    line-height: 20px;
    white-space: nowrap;

    @include lg-width {
        font-size: 20px;
        line-height: 30px;
    }
}

.navbar-box {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include lg-width {
        width: 100px;
    }
}

.hover-main-color {
    &:hover {
        color: $main-color;
    }
}

.banner {
    background-image: url('../img/banner.jpeg');
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;

    @include sm-width {
        height: 250px;
    }

    @include lg-width {
        height: 300px;
    }
}

.region-badge {
    @include button;
    border-radius: 20px;
    font-family: $default-font-style;
    background-color: white;
    color: $main-color;
    border: 2px solid $main-color;
    padding: 1px 6px;
    font-size: 12px;
    margin: 1px 4px;
    width: 52px;
    text-align: center;

    @include lg-width {
        padding: 2px 8px;
        font-size: 16px;
        margin: 4px 8px;
        width: 70px;
    }
}

.region-badge-selected {
    background-color: $main-color;
    color: white;
    border-color: white;
}


.card {
    width: 544*0.5px;
    height: 640*0.5px;
    border-radius: 12px;
    margin: 0 4px;

    @include sm-width {
        width: 544*0.3px;
        height: 640*0.3px;
        margin: 0 4px;
    }

    @include md-width {
        width: 544*0.35px;
        height: 640*0.35px;
        margin: 0 4px;
    }

    @include lg-width {
        width: 544*0.4px;
        height: 640*0.4px;
        margin: 0 12px;
    }

    @include xl-width {
        width: 544*0.5px;
        height: 640*0.5px;
        margin: 0 12px;

    }

    @include xxl-width {
        width: 544*0.6px;
        height: 640*0.6px;
    }
}

.card-img {
    width: 100%;
    height: 62.5%;
    border-radius: 12px 12px 0 0;
}
.card-content{
    width: 100%;
    height: 37.5%;
}