$veryverylargedevice: 1600px;
$verylargedevice: 1240px;
$largedevice: 992px;
$mediumdevice: 768px;
$smalldevice: 375px;

$default-font-style:Zen Maru Gothic;

$main-color:#00A7BA;
$word-color:#173565;
$navbar-color:#93A7c1;

$header-sm-height: 60px;
$header-lg-height: 80px;